<p>こんにちは、<%= @resource.email %>さん！</p>

<p>  パスワードを変更するためのリンクをリクエストされた方がいます。以下のリンクから変更することができます。
  以下のリンクから行うことができます。</p>

<p><%= link_to 'Change my password', "http://localhost:8080/user/edit/newPassword?token=#{@token}" %></p>

<p>リクエストしていない場合は、このメールを無視してください。</p>
<p>パスワードは、上記のリンクにアクセスし、新しいものを作成するまで変更されません。
  パスワードは変更されません。</p>
